jsons==0.10.1
flask==1.1.1
pymongo==3.9.0
python-whois==0.7.2
browsermob-proxy==0.8.0
selenium==3.141.0
beautifulsoup4==4.8.0
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cryptography==3.2
idna==2.8
nassl==2.1.2
pycparser==2.19
requests==2.21.0
six==1.12.0
sslyze==2.0.6
tls-parser==1.2.1
urllib3==1.24.2
