<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha256-92bzNkHlBDGv6KEFntdPPp6TNC6OHejYi9dANHs7Jp4=">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" integrity="sha256-drsP5hFacRCICMOBUc1nf5MwAgj4cwfsGpqLV400fz0=">

    <title>WebSrvSec | {% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="container text-center">
        <a href="/"><h1>WebSrvSec</h1></a>
    </header>
    <div class="container">
        {% block content %}{% endblock content%}
    </div>
    <!-- jQuery 3 -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="></script>
    <!-- Bootstrap and Popper -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw="></script>
    <script type="text/javascript">
        $(function(){
            $("#scanBtn").click(function(e) {
                $("#scanBtn").hide();
                $("#loadBtn").removeAttr('hidden');
            });
        });
    </script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
